body {
  text-align: center;
  background-color: rgb(235, 226, 213);
  margin: 0px;
}
h1 {
  color: rgb(69, 47, 20);
}
button {
  background: transparent;
  border: none;
}
button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding: 6px;
  color: gray;
}
button.a {
  color: rgb(121, 29, 29);
  background-color: rgb(125, 155, 125);
}
button.p:hover {
  cursor: pointer;
  color: rgb(166, 95, 95);
}
.menu {
  padding: 0px;
  background-color: rgb(181, 223, 209);
  border-bottom: solid 1px black;
  border-top: solid 1px black;
}
.nyert {
  padding: 6px;
  background-color: rgb(255, 227, 127);
  color: rgb(113, 15, 15);
}
.hide {
  display: none;
}